SECRET_KEY=shu-yerga-kamida-50-belgili-tasodifiy-kalit-yozing
ALLOWED_HOSTS=yourusername.pythonanywhere.com
ALLOWED_ORIGINS=https://yourusername.pythonanywhere.com
DJANGO_SETTINGS_MODULE=config.settings.production
