SECRET_KEY=o'zgartiring-bu-yerga-uzun-tasodifiy-kalit
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
ALLOWED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com
DJANGO_SETTINGS_MODULE=config.settings.production
